.Newsletters {
  padding: 10px;
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
}

.NewslettersHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Newsletters h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
}

.NewslettersHeader button {
  padding: 12px 25px;
  background-color: #2573cd;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.NewslettersHeader button:hover {
  background-color: #1b5ea8;
}

.NewslettersContent {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  
}

.NewslettersIA,
.NewslettersBord,
.NewslettersListDestinataire {
  flex: 1;
}

.NewslettersIA {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.NewslettersBord {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.NewslettersListDestinataire {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 12px 25px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .NewslettersContent {
    flex-direction: column;
  }

  .NewslettersHeader button {
    font-size: 14px;
    padding: 8px 15px;
  }
}
